body {
  font-family: raleway; }

.app {
  padding: 0; }

.navbar {
  background-color: #222422;
  color: white; }
  .navbar nav {
    overflow-x: hidden;
    width: 100vw; }
    .navbar nav .brand {
      font-size: 1.7em;
      letter-spacing: 3px;
      font-weight: bold; }
    .navbar nav .links {
      list-style: none;
      font-family: raleway;
      font-weight: 500;
      margin: 0 0 0 50px; }
      .navbar nav .links li a {
        font-size: 0.7em;
        color: white;
        padding-bottom: 2px;
        border-bottom: gold; }
      .navbar nav .links li a:hover {
        border-bottom: 2px solid gold; }
    .navbar nav .hamburgers {
      display: none;
      cursor: pointer;
      margin: 0;
      list-style: none;
      transform: rotateY(180deg); }
      .navbar nav .hamburgers li {
        width: 25px;
        height: 2px;
        background-color: white; }
      .navbar nav .hamburgers #ham-2 {
        width: 20px;
        margin: 3px 0; }
      .navbar nav .hamburgers #ham-3 {
        width: 15px; }

/* banner section*/
.banner {
  height: 523px;
  background-color: black;
  color: white;
  padding: 0 20px; }
  .banner .texts .btn-primary {
    background-color: #222422 !important;
    border: 0; }
  .banner h2 {
    font-size: 1.3em; }
  .banner h4 {
    margin: 30px 0;
    width: 60vw;
    letter-spacing: 5px;
    font-size: 2.2em;
    line-height: 150%;
    font-weight: 300; }
    .banner h4 .emphasize {
      font-weight: 500;
      color: #bfb38f; }

/* what we do section*/
.wwd .writeup, .recents .writeup, .team .writeup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px; }
  .wwd .writeup h3, .recents .writeup h3, .team .writeup h3 {
    font-size: 2.2em;
    color: #402d0e; }
  .wwd .writeup .underline, .recents .writeup .underline, .team .writeup .underline {
    margin: 30px;
    background-color: #402d0e;
    width: 50px;
    height: 5px; }
  .wwd .writeup p, .recents .writeup p, .team .writeup p {
    color: #222422;
    font-size: 1.1em;
    width: 40vw;
    line-height: 200%; }
.wwd .theBest, .recents .theBest, .team .theBest {
  height: 550px;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
  display: flex; }
  .wwd .theBest img, .recents .theBest img, .team .theBest img {
    width: 640px;
    height: 550px; }
  .wwd .theBest .text, .recents .theBest .text, .team .theBest .text {
    padding: 50px 0;
    margin-left: 10vw; }
    .wwd .theBest .text h3, .recents .theBest .text h3, .team .theBest .text h3 {
      color: #402d0e;
      letter-spacing: 3px; }
    .wwd .theBest .text p, .recents .theBest .text p, .team .theBest .text p {
      margin: 20px 0;
      line-height: 200%;
      font-size: 1em; }
.wwd .service, .recents .service, .team .service {
  margin-top: 100px;
  text-align: center; }
  .wwd .service .overview, .recents .service .overview, .team .service .overview {
    margin: 0 auto; }
    .wwd .service .overview h3, .recents .service .overview h3, .team .service .overview h3 {
      color: #402d0e;
      letter-spacing: 3px; }
    .wwd .service .overview p, .recents .service .overview p, .team .service .overview p {
      margin: 20px 0;
      line-height: 200%;
      font-size: 1em; }
  .wwd .service ul .services, .recents .service ul .services, .team .service ul .services {
    margin-top: 50px; }
    .wwd .service ul .services h3, .recents .service ul .services h3, .team .service ul .services h3 {
      margin: 20px 0;
      color: #402d0e;
      letter-spacing: 3px; }
    .wwd .service ul .services p, .recents .service ul .services p, .team .service ul .services p {
      font-size: 0.8em;
      line-height: 200%; }

.skills {
  height: 450px;
  margin-top: 100px;
  background: url("Images/background.jpg") rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: 1280px 720px;
  background-position: center;
  justify-content: center; }
  .skills .full {
    display: none; }
  .skills .skill {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .skills .skill h3 {
      margin-top: 30px;
      color: white;
      font-size: 0.8em; }
    .skills .skill .contain {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      border: 2px solid #bfb38f;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 2px;
      overflow: hidden; }
      .skills .skill .contain .percent {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        align-items: center;
        background-color: black;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden; }
        .skills .skill .contain .percent .gauge {
          position: relative;
          top: 0px;
          width: 10px;
          height: 11px;
          z-index: 0;
          background-color: white; }
        .skills .skill .contain .percent .circle {
          position: absolute;
          z-index: 2;
          transform: translateY(2px);
          width: 136px;
          height: 136px;
          background-color: black;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white; }
          .skills .skill .contain .percent .circle h2 {
            font-size: 0.9em; }

.recents {
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .recents .row {
    padding: 0; }
  .recents .projects {
    padding: 0;
    width: 100vw;
    overflow-x: hidden; }
    .recents .projects .col-md-3 {
      padding: 0; }
    .recents .projects .project {
      height: 200px;
      overflow-y: hidden;
      margin-bottom: 20px; }
      .recents .projects .project .col-md-12 {
        padding: 0; }
      .recents .projects .project img {
        height: 200px; }
      .recents .projects .project .info {
        display: flex;
        opacity: 0;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        height: 180px;
        background: rgba(0, 0, 0, 0.8);
        position: relative;
        top: -190px;
        margin: 0 auto;
        margin-bottom: -200px h4;
          margin-bottom-font-size: 1.2em; }
        .recents .projects .project .info p {
          font-size: 0.8em; }
        .recents .projects .project .info .underline {
          margin: 10px;
          background: white;
          width: 30px;
          height: 5px; }
    .recents .projects .project:hover .info {
      cursor: pointer;
      opacity: 1; }

.container-fluid {
  overflow-x: hidden;
  padding: 0;
  margin-left: 0; }

.twitter {
  padding: 0;
  overflow-x: hidden;
  margin-top: -20px;
  text-align: center; }
  .twitter a {
    margin: 0 auto; }
  .twitter .row {
    padding: 0; }
    .twitter .row .col-md-3 {
      padding: 0;
      height: 250px; }
  .twitter .info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 300px; }
    .twitter .info p {
      margin: 30px 0; }
  .twitter .button {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.team {
  background-color: #fafafa; }
  .team .members .member {
    margin-right: 20px;
    padding: 0; }
    .team .members .member .image {
      height: 250px;
      overflow-y: hidden; }
      .team .members .member .image img {
        padding: 0;
        height: 250px; }
      .team .members .member .image .socials {
        opacity: 0;
        position: relative;
        top: -250px;
        left: 14px;
        padding: 0;
        height: 250px;
        background: rgba(0, 0, 0, 0.9); }
        .team .members .member .image .socials a {
          text-decoration: none;
          margin-right: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid white;
          background-color: black;
          color: white; }
    .team .members .member .info {
      margin: 10px 0;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .team .members .member .info h4 {
        margin-top: 10px;
        font-size: 1.1em; }
      .team .members .member .info p {
        font-size: 0.8em; }
  .team .members .member:hover .socials {
    cursor: pointer;
    opacity: 1; }

/* For mobile screens*/
@media screen and (max-width: 767px) {
  .navbar nav {
    padding-left: 20px; }
    .navbar nav .links {
      height: 0.1px;
      overflow: hidden;
      margin: 0px 0; }
      .navbar nav .links li {
        margin: 10px 0;
        padding: 5px 3px; }
        .navbar nav .links li a {
          font-size: 0.8em; }
      .navbar nav .links .active {
        background-color: #212121; }
    .navbar nav .hamburgers {
      display: flex;
      flex-direction: column;
      justify-content: center; }

  .banner {
    padding: 0 20px;
    display: flex;
    align-items: center; }
    .banner .texts {
      height: 300px; }
    .banner h2 {
      font-size: 1em; }
    .banner h4 {
      font-size: 1.5em;
      width: 90vw; }

  .wwd .writeup, .recents .writeup, .team .writeup {
    width: 100vw; }
    .wwd .writeup h3, .recents .writeup h3, .team .writeup h3 {
      font-size: 1.8em; }
    .wwd .writeup p, .recents .writeup p, .team .writeup p {
      width: 90vw;
      font-size: 0.9em; }
  .wwd .theBest, .recents .theBest, .team .theBest {
    height: 650px;
    margin-left: 15px; }
    .wwd .theBest img, .recents .theBest img, .team .theBest img {
      display: none; }
    .wwd .theBest .text, .recents .theBest .text, .team .theBest .text {
      width: 80vw;
      text-align: center; }

  .skills {
    align-items: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
    background-size: 780px 520px;
    height: auto; }
    .skills .skill {
      margin-right: 10px;
      margin-bottom: 50px; }

  .recents {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .recents .writeup {
      width: 85vw; }
      .recents .writeup h3 {
        font-size: 1.5em; }
      .recents .writeup p {
        width: 85vw; }
    .recents .projects .project .info {
      opacity: 1; }

  .twitter {
    margin: 50px 0;
    padding: 30px; }
    .twitter .info {
      margin-bottom: 50px;
      padding: 20px; }
    .twitter .images img {
      margin-bottom: 30px; }

  .team .members {
    padding: 30px; }
    .team .members .member {
      margin-right: 0;
      margin-bottom: 30px; }
      .team .members .member .image .socials {
        opacity: 0.3; } }

/*# sourceMappingURL=style.css.map */
